.input-wrapper {
  cursor: move;
  position: relative;

  &:hover {
    background: $light-grey;
  }

  .edit-btn {
    position: absolute;
    right: 60px;
    top: 0;
  }

  .remove-btn {
    position: absolute;
    right: 0;
    top: 0;
  }
}
