.input-wrapper {
  cursor: move;
  position: relative;

  .edit-btn {
    position: absolute;
    right: 60px;
    top: 0;
  }

  .remove-btn {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.form-building-blocks {
  [draggable="true"] {
    cursor: move;
  }
}
