@import "bourbon/app/assets/stylesheets/bourbon";
@import "variables";
@import "input-template";

body {
  font-family: sans-serif;
}

.visual-form-builder {
  @include display(flex);
  @include flex-direction(column);
}

.visual-form-builder__body {
  @include display(flex);
  @include flex(1);
}

.form-building-blocks,
.composed-form {
  @include flex(1);
}

.composed-form {
  margin-right: 1rem;
}

.input-wrapper {
  border: 1px solid #9b9b9b;
  border-radius: 4px;
  height: 50px;
  margin-bottom: 5px;

  .input-type {
    float: left;
    width: 80px;
  }

  .input-label {
    margin-left: 80px;
  }
}

label {
  display: block;
  margin-bottom: 1rem;
}

input {
  margin: 0.5rem 0;
  padding: 0.4rem;

  &:required {
    border: 1px solid #000;
  }

  &[type='text'],
  &[type='date'],
  &[type='password'],
  &[type='tel'],
  &[type='email'] {
    width: 400px;
  }
}
